SoccerManager/Service References/SoccerWebservice/SoccerManager_Webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpelerGegevens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="voornaam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="naam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="team" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpelerGegevensResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSpelerGegevensResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamGegevens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="naam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verantwoordelijke" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="straat_nr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="plaats" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefoon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamGegevensResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTeamGegevensResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamNaam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="naam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamNaamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTeamNaamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNieuweWedstrijd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="team1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="team2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terrein" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="poule" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uur" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheidsrechter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opmerking" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNieuweWedstrijdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNieuweWedstrijdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTeamNaam">
        <s:complexType />
      </s:element>
      <s:element name="SelectTeamNaamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTeamNaamResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSpelerGegevens">
        <s:complexType />
      </s:element>
      <s:element name="SelectSpelerGegevensResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectSpelerGegevensResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTeamNaamPerPoule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="poule" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTeamNaamPerPouleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTeamNaamPerPouleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddSpelerGegevensSoapIn">
    <wsdl:part name="parameters" element="tns:AddSpelerGegevens" />
  </wsdl:message>
  <wsdl:message name="AddSpelerGegevensSoapOut">
    <wsdl:part name="parameters" element="tns:AddSpelerGegevensResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamGegevensSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeamGegevens" />
  </wsdl:message>
  <wsdl:message name="AddTeamGegevensSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamGegevensResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamNaamSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeamNaam" />
  </wsdl:message>
  <wsdl:message name="AddTeamNaamSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamNaamResponse" />
  </wsdl:message>
  <wsdl:message name="AddNieuweWedstrijdSoapIn">
    <wsdl:part name="parameters" element="tns:AddNieuweWedstrijd" />
  </wsdl:message>
  <wsdl:message name="AddNieuweWedstrijdSoapOut">
    <wsdl:part name="parameters" element="tns:AddNieuweWedstrijdResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTeamNaamSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTeamNaam" />
  </wsdl:message>
  <wsdl:message name="SelectTeamNaamSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTeamNaamResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSpelerGegevensSoapIn">
    <wsdl:part name="parameters" element="tns:SelectSpelerGegevens" />
  </wsdl:message>
  <wsdl:message name="SelectSpelerGegevensSoapOut">
    <wsdl:part name="parameters" element="tns:SelectSpelerGegevensResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTeamNaamPerPouleSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTeamNaamPerPoule" />
  </wsdl:message>
  <wsdl:message name="SelectTeamNaamPerPouleSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTeamNaamPerPouleResponse" />
  </wsdl:message>
  <wsdl:portType name="SoccerManager_WebserviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <wsdl:input message="tns:AddSpelerGegevensSoapIn" />
      <wsdl:output message="tns:AddSpelerGegevensSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamGegevens">
      <wsdl:input message="tns:AddTeamGegevensSoapIn" />
      <wsdl:output message="tns:AddTeamGegevensSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamNaam">
      <wsdl:input message="tns:AddTeamNaamSoapIn" />
      <wsdl:output message="tns:AddTeamNaamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNieuweWedstrijd">
      <wsdl:input message="tns:AddNieuweWedstrijdSoapIn" />
      <wsdl:output message="tns:AddNieuweWedstrijdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaam">
      <wsdl:input message="tns:SelectTeamNaamSoapIn" />
      <wsdl:output message="tns:SelectTeamNaamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSpelerGegevens">
      <wsdl:input message="tns:SelectSpelerGegevensSoapIn" />
      <wsdl:output message="tns:SelectSpelerGegevensSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaamPerPoule">
      <wsdl:input message="tns:SelectTeamNaamPerPouleSoapIn" />
      <wsdl:output message="tns:SelectTeamNaamPerPouleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoccerManager_WebserviceSoap" type="tns:SoccerManager_WebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <soap:operation soapAction="http://tempuri.org/AddSpelerGegevens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamGegevens">
      <soap:operation soapAction="http://tempuri.org/AddTeamGegevens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamNaam">
      <soap:operation soapAction="http://tempuri.org/AddTeamNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNieuweWedstrijd">
      <soap:operation soapAction="http://tempuri.org/AddNieuweWedstrijd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaam">
      <soap:operation soapAction="http://tempuri.org/SelectTeamNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSpelerGegevens">
      <soap:operation soapAction="http://tempuri.org/SelectSpelerGegevens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaamPerPoule">
      <soap:operation soapAction="http://tempuri.org/SelectTeamNaamPerPoule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoccerManager_WebserviceSoap12" type="tns:SoccerManager_WebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <soap12:operation soapAction="http://tempuri.org/AddSpelerGegevens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamGegevens">
      <soap12:operation soapAction="http://tempuri.org/AddTeamGegevens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamNaam">
      <soap12:operation soapAction="http://tempuri.org/AddTeamNaam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNieuweWedstrijd">
      <soap12:operation soapAction="http://tempuri.org/AddNieuweWedstrijd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaam">
      <soap12:operation soapAction="http://tempuri.org/SelectTeamNaam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSpelerGegevens">
      <soap12:operation soapAction="http://tempuri.org/SelectSpelerGegevens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTeamNaamPerPoule">
      <soap12:operation soapAction="http://tempuri.org/SelectTeamNaamPerPoule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoccerManager_Webservice">
    <wsdl:port name="SoccerManager_WebserviceSoap" binding="tns:SoccerManager_WebserviceSoap">
      <soap:address location="http://localhost:3367/SoccerManager_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SoccerManager_WebserviceSoap12" binding="tns:SoccerManager_WebserviceSoap12">
      <soap12:address location="http://localhost:3367/SoccerManager_Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>