SoccerManager/Service References/SoccerWebservice/SoccerManager_Webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpelerGegevens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="voornaam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="naam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="team" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpelerGegevensResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSpelerGegevensResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddSpelerGegevensSoapIn">
    <wsdl:part name="parameters" element="tns:AddSpelerGegevens" />
  </wsdl:message>
  <wsdl:message name="AddSpelerGegevensSoapOut">
    <wsdl:part name="parameters" element="tns:AddSpelerGegevensResponse" />
  </wsdl:message>
  <wsdl:portType name="SoccerManager_WebserviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <wsdl:input message="tns:AddSpelerGegevensSoapIn" />
      <wsdl:output message="tns:AddSpelerGegevensSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoccerManager_WebserviceSoap" type="tns:SoccerManager_WebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <soap:operation soapAction="http://tempuri.org/AddSpelerGegevens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoccerManager_WebserviceSoap12" type="tns:SoccerManager_WebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpelerGegevens">
      <soap12:operation soapAction="http://tempuri.org/AddSpelerGegevens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoccerManager_Webservice">
    <wsdl:port name="SoccerManager_WebserviceSoap" binding="tns:SoccerManager_WebserviceSoap">
      <soap:address location="http://localhost:3367/SoccerManager_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SoccerManager_WebserviceSoap12" binding="tns:SoccerManager_WebserviceSoap12">
      <soap12:address location="http://localhost:3367/SoccerManager_Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>